body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: backgroundmulticolor 10s infinite; 
    background-color: #000000;
    transition: background-color 0.5s ease;
 
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0px 0;
}

.navbar {
    
    background-color: #00000044;
    opacity: 1;
    background-image:  linear-gradient(135deg, #000000 25%, transparent 25%), linear-gradient(225deg, #000000 25%, transparent 25%), linear-gradient(45deg, #000000 25%, transparent 25%), linear-gradient(315deg, #000000 25%, #362e2e 25%);
    background-position:  26px 0, 26px 0, 0 0, 0 0;
    background-size: 26px 26px;
    background-repeat: repeat;


    color: #fff;
    padding: 21px 0;/* jump street*/


    border-bottom:5px solid  ;
    animation: 10s mcolortext infinite;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    animation: 2s multicolor;
    font-family: 'Pixelify Sans', sans-serif;
    
}



.pathways {
    
    list-style: none;
    padding: 0;
    margin: 0;
}

.pathways li {
    display: inline;
    margin-right: 21px;
}

.pathways li:last-child {
    margin-right: 0;
    
}

.pathways {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    animation: 2s multicolor;
    
}

@keyframes multicolor {
    0% {
        color: #000000;
    }
    33% {
        color: #ff0000;
    }
    66% {
        color: #9e8dff;
    }
    100% {
        color: #FFF;
    }
}

/* only for titles*/
@keyframes mcolortext {
    0% {
        color: #95fffa;
    }
    25% {
        color: #9e8dff;
        
    }
    50% {
        color: #4eff92;
    }
    75% {
        color: #ff4e4e;
    }
    100% {
        color: #95fffa;
    }
}








/* i fucking love css*/
@keyframes backgroundmulticolor {
    0% {
        background-color: #002927;
    }
    25% {
        background-color: #0d053b;
    }
    50% {
        background-color: #00270f;
    }
    75% {
        background-color: #440000;
    }
    100% {
        background-color: #002927;
    }
}




@keyframes mcolorborder {
    0% {
        border-color: #ffffff;
    }
    25% {
        border-color: #000000;
    }
    50% {
        border-color: #000000;
    }
    80% {
        border-color: #000000;
    }
    100% {
        border-color: #000000;
    }
}







.pathways:hover {
    color: #9e8dff; /* this is my favorite color :)*/
    
}

.bigmeal {
    color: #ffffff;
    padding: 40px;
    text-align: center;
}

.bigmeal h1{
    
   font-size: 40px;
    animation: 10s mcolortext infinite, mover 4s infinite;
    font-family: 'Pixelify Sans', sans-serif;
}

.bigmeal p {
    font-family: 'DotGothic16', sans-serif;
}




.movingName {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    font-size: 28px;
    color: #ffffff;
    font-family: 'Pixelify Sans', sans-serif;
    animation: mover 11s infinite;
    
}


@keyframes mover {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
 








/* walk across animationi*/
.gif-container {
   
    width: 100%; 
    height: auto;
}




.gif-container img {
    
    z-index: -2;
    opacity: .8;
    position: absolute;
    top: 55%; 
    left: -100px; 
    width: 50px;
    transform: translate(-50%, -50%); 
    animation: moveRight 30s linear infinite; 

    animation-delay: 6s;
}



@keyframes moveRight {
    from {
        left: -100px; 
    }
    to {
        left: calc(100% + 100px); 
    }
}

























.merchGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center; 
}

.merch {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;

    justify-items: center;
    border-radius: 6px;
    transition: transform 2s ease;

    
}

.merch img {
    
   /* animation: merchSquisher 4s ease-in-out infinite;  */
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    transition: transform 2s ease;
    
}





.merch h3 {
    
    animation: 2s multicolor;
    color: #ffffff;
    margin-bottom: 10px;
    
}

.merch p {
    max-width: 500px; /*width of the text fits perfect dont change*/
text-align: left;
    font-size: 20px;
    color: #e3dfff;
    background-color: #00000086;
    border-radius: 15px;
    padding: 30px;

    border-style: dotted;
  border-width: thick;
  animation: 4s mcolorborder infinite, mover 30s infinite;


/*dotted border color*/
}











.footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
list-style: none;

border-top:5px solid  ;
animation: 10s mcolortext infinite;
}




.gif-container{ 
    cursor:pointer 
}
.gif-container2{
    cursor:pointer 
}


